.slide-show {
  margin: 15px 120px 0px 80px;
}

ul.carousel-container {
  list-style-type: none;
  text-align: center;
}

li.carousel {
  display: inline;
  margin: 6px;
}

.carousel-item {
  width: 178px;
  height: 150px;
  background-color: lavender;
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0 82%, 0% 20%);
  opacity: 0.6;
  cursor: pointer;
}

.carousel-item:hover {
  opacity: 1;
}

.carousel-div {
  display: inline-block;
  width: 177px;
  height: 197px;
}

.carousel-div:hover {
  border: 2px solid #204ecf;
  opacity: 1;
}

.span-name, .span-role {
  color: #204ecf;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.span-role {
  color: #d4d7e4;
  margin-top: -20px;
}

.slide {
  border: solid blue;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 200px;
  top: 40em;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 200px;
  top: 40em;
  
}
